{"NumberClients":1,"LocationFiles":"/home/bougyman/sv/collector","ConnectionsPerServer":5,"WorkerModel":0,"UseProxy":0,"AllowBypassProxy":0,"ProxyServer1":"","ProxyPort1":0,"ProxyServer2":"","ProxyPort2":0,"UseBackupProxy":false,"IsGuardian":0,"IsCollector":1,"LastView":"col","HostProd":"http://tapmaster4.timpi.network:4003/","Coordinator":"http://tapmaster4.timpi.network:4004/","Wallet":"","Key":"","SystemID":"12ed80c3-fc35-44bd-91f8-412244a2120c","ConfFile":"/home/bougyman/sv/collector/timpi.config","NFTName":"","PicturePath":"","ScanDepth":20,"ProMode":0,"Ratio":20}